.App {
  background-color: rgb(4, 43, 63);
  height: 100vh;
  text-align: center;
}

.advice {
  position: relative;
  top: 33%;
  left: 25%;
  width: 50%;
  border-radius: 16px;
  background-color: rgb(52, 58, 77);
  height: 33%;
  color: rgb(252, 246, 246);
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  height: 48px;
  width: 94px;
  margin: 16px;
  color: rgb(252, 246, 246);
  background-color: rgb(128, 204, 128);
  font-weight: 900;
  font-size: 16px;
}

.advice-message {
  position: relative;
  top: 15%;
  margin: 0 12px;
}

.id {
  position: relative;
  top: 10%;
  color: rgb(128, 204, 128);
}
